.help-bar-container {
  width: 100%;
  height: auto;
  background-color: #eff0f5;
}

.help-bar {
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 2fr;
  display: grid;
  padding: 10px 0px 10px 0px;
  color: #1f397f;
  font-weight: 600;
  font-size: 14px;
}

p, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #1f397f;
}

.help-bar-number {
  text-align: left;
  padding-left: 5px;
}

.help-bar-quicklinks {
  padding-right: 5px;
}

ul {
  display: flex;
  list-style: none;
  float: right;
}

.quick-links {
  padding: 0px 20px;
}

@media only screen and (max-width: 800px) {
  .help-bar-container {
    display: none;
  }
}
