.menu-usps {
  background-color: #ffb3c7;
  background-size: 100%;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 5px;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
}

.inline-klarna {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.klarna-text {
  margin: 0;
  font-size: 18px;
}

.klarna-logo-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.klarna-logo {
  margin-left: 2px;
  margin-right: 8px;
  height: 35px;
  -o-object-fit: contain;
  object-fit: contain;
}

.find-out-more {
  margin: 0;
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}


@media only screen and (max-width: 550px) {
  .menu-usps {
    padding: 0 0 4px;
  }
  .inline-klarna {
    display: block;
  }
  .klarna-text, .find-out-more {
    font-size: 12px;
  }
  .klarna-logo {
    margin-left: 0;
    margin-right: 2px;
    height: 24px;
  }
}
