.top40-title {
  width:100%;
  font-family: "Open Sans", 'Arial', 'Helvetica', sans-serif;
  color: #444444;
  font-size: 28px;
  margin: 2.28571rem 0rem .78571rem 0rem;
}

.top40-container {
  display: inline-block;
  width: 80%;
  margin: 0px 120px 0px 120px;
}
