.top40-title {
  width: 100%;
  color: #444444;
  font-size: 28px;
  margin: 2.28571rem 0rem .78571rem 0rem;
  font-weight: 600;
}

.top40-container, .home-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  .top40-container, .home-container {
    padding-top: 130px;
  }
}

@media only screen and (max-width: 540px) {
  .top40-container, .home-container {
    width: 90%;
    margin: auto;
    padding: 130px 21px 0 21px;
    max-width: 91.71429rem;
  }
}
