.top40-banner {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.top40-brand  {
  width: 24.802%;
  padding: 0 0.1% 0 0.1%;
  height: auto;
  cursor: pointer;
  opacity: 0.8;
}

.top40-brand:hover {
  opacity: 1;
}

@media only screen and (max-width: 850px) {
  .top40-brand  {
    width: 49.6%;
  }
}

@media only screen and (max-width: 540px) {
  .top40-brand  {
    opacity: 1;
  }
}
